<%- include("../partials/head", { title: title, cssFile: "/css/detail.css" }) %>
<%- include('../partials/header') %>
<%- include('../partials/navigation', { nav: nav }) %>

<main class="inventory-wrapper">
  <%- detail %>
</main>

<%- include('../partials/footer') %>
